* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Inter", sans-serif;
}

main {
    width: 100%;
    height: 100%;
    background-image: url(./NY-Skyline.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin-inline: 10rem;
    padding: 1rem;
    border-radius: 5rem;
    margin-top: 1rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -50;
    position: absolute;
    top: 0;
}

.links {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}

.title {
    font-size: 1rem;
    font-weight: 500;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btm-div {
    position: absolute;
    bottom: 10%;
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    padding-inline: 10rem;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h4 {
    font-size: 2rem;
    font-weight: 400;
}

.insights {
    display: flex;
    gap: 3rem;
    padding-top: 3rem;
}

#small {
    font-size: 0.9rem;
    padding-bottom: 2rem;
    color: rgba(255, 255, 255, 0.671);
    padding-left: 1rem;
}

.small {
    font-size: 0.9rem;
    padding-top: 1.5rem;
    color: rgba(255, 255, 255, 0.719);
}

