* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and old Edge */
}

/* Chrome, Safari, Edge (WebKit-based) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body {
  font-family: "Google Sans", sans-serif;
  background-color: black;
}

.image-container {
  background-image: url("./cyberpunk-night-city-alley-4k-wallpaper-uhdpaper.com-817@5@m.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
