@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('./fonts/ClashDisplay-Variable.woff2') format('woff2'),
        url('./fonts/ClashDisplay-Variable.woff') format('woff'),
        url('./fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: 'ClashDisplay-Variable', sans-serif;
}

.hero {
    background-image: url(./assets/hero-bg.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45rem;
}