body {
  font-family: "Bebas Neue", sans-serif;
}

html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and old Edge */
}

/* Chrome, Safari, Edge (WebKit-based) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 20px;
}

.inter {
  font-family: "Inter", sans-serif;
}