body {
    font-family: 'Inter', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    background-image: url(./Home.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
}